<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <!-- ConnectionString für den Datenbankzugriff im Local-Proxy-Mode -->
      <add name="Synios.DataDatabase.ConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Synios_SHE_TEST_Data;Data Source=NB-SYNIOS21\SQLEXPRESS" providerName="System.Data.SqlClient"/>
      <add name="Synios.ConfigDatabase.ConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Synios_SHE_TEST_Config;Data Source=NB-SYNIOS21\SQLEXPRESS" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="PathForOriginal" value=""/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
